.header {
    background-color: #4ea0ff;
    background-image: url(./img/pattern.png);
    background-size: 250px;
    }

#logo {
    margin-top: 25px;
    width: 140px;
}

h1 {margin-bottom: 5px;}

#autore {color: #999999;
    font-size: 12px;
}
#the-booleaner {color: #55c1ff;}
#data {color: #999999;
    font-size: 8px;}

.tim-images {height: 300px;
    margin-top: 15px;
}

.didascalie {font-size: 10px;
margin-top: 3px;}